*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.layout {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.layout-panel {
  height: 100%;
  width: 300px;

  &__inputs {
    font-size: 16px;
    // Capitalized to prevent Sass
    // thinking it's the Sass max()
    font-size: Max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;

    &-textarea {
      width: 100%;
      height: 256px;
    }

    &-button {
      width: 100%;
    }
  }

  &__resume {
    padding: 8px;

    &-title {
      font-size: 24px;
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.layout-graph {
  height: 1000px;
  width: 1000px;
}
